$baicaoshuang:#303030;//百草霜
$baifanghuilan:#4e1892;//柏坊灰蓝
$baolan:#1f3696;//宝蓝
$beijingmaolan:#276893;//北京毛蓝
$biyushi:#569597;//碧玉石
$canghuang:#c65306;//苍黄
$zanglan:#25386b;//藏蓝
$canglyu:#4e5f45;//苍绿
$caohuang:#dbce54;//草黄
$chengdehui:#757570;//承德灰
$chengdezao:#5a5c5b;//承德皂
$chensha:#af5e53;//辰砂
$chunlan:#7ba1a8;//春蓝
$chunlyu:#e3efd1;//春绿
$cuilyu:#006e5f;//翠绿
$cujingzao:#43454a;//粗晶皂
$dachijin:#6d7358;//大赤金
$dailan:#304758;//黛蓝
$dandongshi:#d7c16b;//丹东石
$danhuilyu:#aec4b7;//淡灰绿
$dengcaohui:#363532;//灯草灰
$dianlan:#1b54f2;//靛蓝
$fanqiehong:#c4473d;//蕃茄红
$feihong:#c35655;//妃红
$gancaohuang:#e4cf8e;//甘草黄
$ganlanlyu:#6a6834;//橄榄绿
$ganshifen:#eadcd6;//甘石粉
$gulan:#6493af;//钴蓝
$guohui:#88aea3;//果灰
$hailan:#17507d;//海蓝
$hongzao:#4f5355;//红皂
$huanghui:#b0b7ac;//黄灰
$huaqing:#546b83;//花青
$hufen:#ebe8db;//胡粉
$huilan:#5d828a;//灰蓝
$huilyu:#5c8987;//灰绿
$huimi:#b6b196;//灰米
$jianghuang:#b49436;//姜黄
$jiangxiaoni:#6d614a;//将校呢
$jiangzi:#704d4e;//绛紫
$jiehong:#e7693f;//桔红
$jiehuang:#e8853b;//桔黄
$jinhuang:#c77a3a;//金黄
$junlyu:#cad4ba;//军绿
$kongquelan:#0041a5;//孔雀蓝
$kujin:#85794f;//库金
$kulyu:#b7b278;//枯绿
$labai:#e7e5d0;//蜡白
$laolyu:#3d6e53;//老绿
$liuhuahong:#d54b44;//榴花红
$luhui:#a9b08f;//芦灰
$meiguihong:#973444;//玫瑰红
$meiguihui:#793d56;//玫瑰灰
$mihong:#e1bda2;//米红
$mihui:#c5bfad;//米灰
$mise:#f5f5dc;//米色
$nailyu:#afc8ba;//奶绿
$naizong:#c1a299;//奶棕
$ningmenghuang:#e9db39;//柠檬黄
$pinhong:#a71368;//品红
$qianhaichanglan:#3c5e91;//浅海昌蓝
$qianhuangzong:#dea87a;//浅黄棕
$qianjiehuang:#da9558;//浅桔黄
$qianniuzi:#a22076;//牵牛紫
$qianshiyingzi:#ab96c5;//浅石英紫
$qiantengzi:#c4c3cb;//浅藤紫
$qiantuose:#c9ae8c;//浅驼色
$qianxieya:#eacdd1;//浅血牙
$qianzonghui:#e1dbcd;//浅棕灰
$kaqihuang:#d5b884;//卡其黄
$kaqilyu:#647370;//卡其绿
$qiepizi:#674950;//茄皮紫
$quehui:#455667;//鹊灰
$ronglan:#31678d;//绒蓝
$sanlyu:#90caaf;//三绿
$shalyu:#005b5a;//沙绿
$shaqing:#2b5e7d;//沙青
$shenyan:#5a4c4c;//深烟
$shenyanhong:#643441;//深烟红
$shenzhuyue:#2578b5;//深竹月
$shiyangjin:#fcb1aa;//十样锦
$shuidiaohui:#949c97;//水貂灰
$shuihuang:#bed2b6;//水黄
$tenghuang:#f2de76;//藤黄
$tianqing:#2ec3e7;//天青*
$tiehui:#37444b;//铁灰
$tuhuang:#ce9335;//土黄
$xiangsihui:#625c52;//相思灰
$xiehong:#a03e28;//血红
$xinghong:#c43739;//猩红
$xionghuang:#d0853d;//雄黄
$xiongjing:#e47542;//雄精
$xiuhong:#4d1919;//锈红
$xiulyu:#b8c8b7;//锈绿
$xuanjin:#796f54;//选金
$xuese:#fffafa;//雪色
$xuezi:#79485a;//雪紫
$yadanqing:#d1e3db;//鸭蛋青
$yangcongzi:#9c6680;//洋葱紫
$yanghong:#dc143c;//洋红
$yanhong:#cc3536;//艳红
$yingwulyu:#008e59;//鹦鹉绿
$yinzhu:#dd3b44;//银朱
$youlyu:#45554a;//油绿
$youyanmo:#3f3f3c;//油烟墨
$yuanqing:#3e3c3d;//元青
$yanzhi:#c03f3c;//胭脂
$yinbo:#585a57;//银箔
$yuejihong:#bb1c33;//月季红
$yushilan:#507883;//玉石蓝
$zaohong:#89303f;//枣红
$zhangdan:#eb652d;//章丹
$zhenghui:#93a2a9;//正灰
$zhihuang:#dbc7a6;//枝黄
$zhijinhui:#748a8d;//织锦灰
$zhizong:#bca590;//纸棕
$zhongzonghui:#a9987c;//中棕灰
$zifen:#a54358;//紫粉
$zishuijing:#c3a6cb;//紫水晶
$zitenghui:#857e95;//紫藤灰
$ziweihua:#eea5d1;//紫薇花
$zongcha:#b8844f;//棕茶
.baicaoshuang {
	color: $baicaoshuang;
}
.baifanghuilan {
	color: $baifanghuilan;
}
.baolan {
	color: $baolan;
}
.beijingmaolan {
	color: $beijingmaolan;
}
.biyushi {
	color: $biyushi;
}
.canghuang {
	color: $canghuang;
}
.zanglan {
	color: $zanglan;
}
.canglyu {
	color: $canglyu;
}
.caohuang {
	color: $caohuang;
}
.chengdehui {
	color: $chengdehui;
}
.chengdezao {
	color: $chengdezao;
}
.chensha {
	color: $chensha;
}
.chunlan {
	color: $chunlan;
}
.chunlyu {
	color: $chunlyu;
}
.cuilyu {
	color: $cuilyu;
}
.cujingzao {
	color: $cujingzao;
}
.dachijin {
	color: $dachijin;
}
.dailan {
	color: $dailan;
}
.dandongshi {
	color: $dandongshi;
}
.danhuilyu {
	color: $danhuilyu;
}
.dengcaohui {
	color: $dengcaohui;
}
.dianlan {
	color: $dianlan;
}
.fanqiehong {
	color: $fanqiehong;
}
.feihong {
	color: $feihong;
}
.gancaohuang {
	color: $gancaohuang;
}
.ganlanlyu {
	color: $ganlanlyu;
}
.ganshifen {
	color: $ganshifen;
}
.gulan {
	color: $gulan;
}
.guohui {
	color: $guohui;
}
.hailan {
	color: $hailan;
}
.hongzao {
	color: $hongzao;
}
.huanghui {
	color: $huanghui;
}
.huaqing {
	color: $huaqing;
}
.hufen {
	color: $hufen;
}
.huilan {
	color: $huilan;
}
.huilyu {
	color: $huilyu;
}
.huimi {
	color: $huimi;
}
.jianghuang {
	color: $jianghuang;
}
.jiangxiaoni {
	color: $jiangxiaoni;
}
.jiangzi {
	color: $jiangzi;
}
.jiehong {
	color: $jiehong;
}
.jiehuang {
	color: $jiehuang;
}
.jinhuang {
	color: $jinhuang;
}
.junlyu {
	color: $junlyu;
}
.kongquelan {
	color: $kongquelan;
}
.kujin {
	color: $kujin;
}
.kulyu {
	color: $kulyu;
}
.labai {
	color: $labai;
}
.laolyu {
	color: $laolyu;
}
.liuhuahong {
	color: $liuhuahong;
}
.luhui {
	color: $luhui;
}
.meiguihong {
	color: $meiguihong;
}
.meiguihui {
	color: $meiguihui;
}
.mihong {
	color: $mihong;
}
.mihui {
	color: $mihui;
}
.mise {
	color: $mise;
}
.nailyu {
	color: $nailyu;
}
.naizong {
	color: $naizong;
}
.ningmenghuang {
	color: $ningmenghuang;
}
.pinhong {
	color: $pinhong;
}
.qianhaichanglan {
	color: $qianhaichanglan;
}
.qianhuangzong {
	color: $qianhuangzong;
}
.qianjiehuang {
	color: $qianjiehuang;
}
.qianniuzi {
	color: $qianniuzi;
}
.qianshiyingzi {
	color: $qianshiyingzi;
}
.qiantengzi {
	color: $qiantengzi;
}
.qiantuose {
	color: $qiantuose;
}
.qianxieya {
	color: $qianxieya;
}
.qianzonghui {
	color: $qianzonghui;
}
.kaqihuang {
	color: $kaqihuang;
}
.kaqilyu {
	color: $kaqilyu;
}
.qiepizi {
	color: $qiepizi;
}
.quehui {
	color: $quehui;
}
.ronglan {
	color: $ronglan;
}
.sanlyu {
	color: $sanlyu;
}
.shalyu {
	color: $shalyu;
}
.shaqing {
	color: $shaqing;
}
.shenyan {
	color: $shenyan;
}
.shenyanhong {
	color: $shenyanhong;
}
.shenzhuyue {
	color: $shenzhuyue;
}
.shiyangjin {
	color: $shiyangjin;
}
.shuidiaohui {
	color: $shuidiaohui;
}
.shuihuang {
	color: $shuihuang;
}
.tenghuang {
	color: $tenghuang;
}
.tianqing {
	color: $tianqing;
}
.tiehui {
	color: $tiehui;
}
.tuhuang {
	color: $tuhuang;
}
.xiangsihui {
	color: $xiangsihui;
}
.xiehong {
	color: $xiehong;
}
.xinghong {
	color: $xinghong;
}
.xionghuang {
	color: $xionghuang;
}
.xiongjing {
	color: $xiongjing;
}
.xiuhong {
	color: $xiuhong;
}
.xiulyu {
	color: $xiulyu;
}
.xuanjin {
	color: $xuanjin;
}
.xuese {
	color: $xuese;
}
.xuezi {
	color: $xuezi;
}
.yadanqing {
	color: $yadanqing;
}
.yangcongzi {
	color: $yangcongzi;
}
.yanghong {
	color: $yanghong;
}
.yanhong {
	color: $yanhong;
}
.yingwulyu {
	color: $yingwulyu;
}
.yinzhu {
	color: $yinzhu;
}
.youlyu {
	color: $youlyu;
}
.youyanmo {
	color: $youyanmo;
}
.yuanqing {
	color: $yuanqing;
}
.yanzhi {
	color: $yanzhi;
}
.yinbo {
	color: $yinbo;
}
.yuejihong {
	color: $yuejihong;
}
.yushilan {
	color: $yushilan;
}
.zaohong {
	color: $zaohong;
}
.zhangdan {
	color: $zhangdan;
}
.zhenghui {
	color: $zhenghui;
}
.zhihuang {
	color: $zhihuang;
}
.zhijinhui {
	color: $zhijinhui;
}
.zhizong {
	color: $zhizong;
}
.zhongzonghui {
	color: $zhongzonghui;
}
.zifen {
	color: $zifen;
}
.zishuijing {
	color: $zishuijing;
}
.zitenghui {
	color: $zitenghui;
}
.ziweihua {
	color: $ziweihua;
}
.zongcha {
	color: $zongcha;
}
.bg-baicaoshuang {
	background-color: $baicaoshuang;
}
.bg-baifanghuilan {
	background-color: $baifanghuilan;
}
.bg-baolan {
	background-color: $baolan;
}
.bg-beijingmaolan {
	background-color: $beijingmaolan;
}
.bg-biyushi {
	background-color: $biyushi;
}
.bg-canghuang {
	background-color: $canghuang;
}
.bg-zanglan {
	background-color: $zanglan;
}
.bg-canglyu {
	background-color: $canglyu;
}
.bg-caohuang {
	background-color: $caohuang;
}
.bg-chengdehui {
	background-color: $chengdehui;
}
.bg-chengdezao {
	background-color: $chengdezao;
}
.bg-chensha {
	background-color: $chensha;
}
.bg-chunlan {
	background-color: $chunlan;
}
.bg-chunlyu {
	background-color: $chunlyu;
}
.bg-cuilyu {
	background-color: $cuilyu;
}
.bg-cujingzao {
	background-color: $cujingzao;
}
.bg-dachijin {
	background-color: $dachijin;
}
.bg-dailan {
	background-color: $dailan;
}
.bg-dandongshi {
	background-color: $dandongshi;
}
.bg-danhuilyu {
	background-color: $danhuilyu;
}
.bg-dengcaohui {
	background-color: $dengcaohui;
}
.bg-dianlan {
	background-color: $dianlan;
}
.bg-fanqiehong {
	background-color: $fanqiehong;
}
.bg-feihong {
	background-color: $feihong;
}
.bg-gancaohuang {
	background-color: $gancaohuang;
}
.bg-ganlanlyu {
	background-color: $ganlanlyu;
}
.bg-ganshifen {
	background-color: $ganshifen;
}
.bg-gulan {
	background-color: $gulan;
}
.bg-guohui {
	background-color: $guohui;
}
.bg-hailan {
	background-color: $hailan;
}
.bg-hongzao {
	background-color: $hongzao;
}
.bg-huanghui {
	background-color: $huanghui;
}
.bg-huaqing {
	background-color: $huaqing;
}
.bg-hufen {
	background-color: $hufen;
}
.bg-huilan {
	background-color: $huilan;
}
.bg-huilyu {
	background-color: $huilyu;
}
.bg-huimi {
	background-color: $huimi;
}
.bg-jianghuang {
	background-color: $jianghuang;
}
.bg-jiangxiaoni {
	background-color: $jiangxiaoni;
}
.bg-jiangzi {
	background-color: $jiangzi;
}
.bg-jiehong {
	background-color: $jiehong;
}
.bg-jiehuang {
	background-color: $jiehuang;
}
.bg-jinhuang {
	background-color: $jinhuang;
}
.bg-junlyu {
	background-color: $junlyu;
}
.bg-kongquelan {
	background-color: $kongquelan;
}
.bg-kujin {
	background-color: $kujin;
}
.bg-kulyu {
	background-color: $kulyu;
}
.bg-labai {
	background-color: $labai;
}
.bg-laolyu {
	background-color: $laolyu;
}
.bg-liuhuahong {
	background-color: $liuhuahong;
}
.bg-luhui {
	background-color: $luhui;
}
.bg-meiguihong {
	background-color: $meiguihong;
}
.bg-meiguihui {
	background-color: $meiguihui;
}
.bg-mihong {
	background-color: $mihong;
}
.bg-mihui {
	background-color: $mihui;
}
.bg-mise {
	background-color: $mise;
}
.bg-nailyu {
	background-color: $nailyu;
}
.bg-naizong {
	background-color: $naizong;
}
.bg-ningmenghuang {
	background-color: $ningmenghuang;
}
.bg-pinhong {
	background-color: $pinhong;
}
.bg-qianhaichanglan {
	background-color: $qianhaichanglan;
}
.bg-qianhuangzong {
	background-color: $qianhuangzong;
}
.bg-qianjiehuang {
	background-color: $qianjiehuang;
}
.bg-qianniuzi {
	background-color: $qianniuzi;
}
.bg-qianshiyingzi {
	background-color: $qianshiyingzi;
}
.bg-qiantengzi {
	background-color: $qiantengzi;
}
.bg-qiantuose {
	background-color: $qiantuose;
}
.bg-qianxieya {
	background-color: $qianxieya;
}
.bg-qianzonghui {
	background-color: $qianzonghui;
}
.bg-kaqihuang {
	background-color: $kaqihuang;
}
.bg-kaqilyu {
	background-color: $kaqilyu;
}
.bg-qiepizi {
	background-color: $qiepizi;
}
.bg-quehui {
	background-color: $quehui;
}
.bg-ronglan {
	background-color: $ronglan;
}
.bg-sanlyu {
	background-color: $sanlyu;
}
.bg-shalyu {
	background-color: $shalyu;
}
.bg-shaqing {
	background-color: $shaqing;
}
.bg-shenyan {
	background-color: $shenyan;
}
.bg-shenyanhong {
	background-color: $shenyanhong;
}
.bg-shenzhuyue {
	background-color: $shenzhuyue;
}
.bg-shiyangjin {
	background-color: $shiyangjin;
}
.bg-shuidiaohui {
	background-color: $shuidiaohui;
}
.bg-shuihuang {
	background-color: $shuihuang;
}
.bg-tenghuang {
	background-color: $tenghuang;
}
.bg-tianqing {
	background-color: $tianqing;
}
.bg-tiehui {
	background-color: $tiehui;
}
.bg-tuhuang {
	background-color: $tuhuang;
}
.bg-xiangsihui {
	background-color: $xiangsihui;
}
.bg-xiehong {
	background-color: $xiehong;
}
.bg-xinghong {
	background-color: $xinghong;
}
.bg-xionghuang {
	background-color: $xionghuang;
}
.bg-xiongjing {
	background-color: $xiongjing;
}
.bg-xiuhong {
	background-color: $xiuhong;
}
.bg-xiulyu {
	background-color: $xiulyu;
}
.bg-xuanjin {
	background-color: $xuanjin;
}
.bg-xuese {
	background-color: $xuese;
}
.bg-xuezi {
	background-color: $xuezi;
}
.bg-yadanqing {
	background-color: $yadanqing;
}
.bg-yangcongzi {
	background-color: $yangcongzi;
}
.bg-yanghong {
	background-color: $yanghong;
}
.bg-yanhong {
	background-color: $yanhong;
}
.bg-yingwulyu {
	background-color: $yingwulyu;
}
.bg-yinzhu {
	background-color: $yinzhu;
}
.bg-youlyu {
	background-color: $youlyu;
}
.bg-youyanmo {
	background-color: $youyanmo;
}
.bg-yuanqing {
	background-color: $yuanqing;
}
.bg-yanzhi {
	background-color: $yanzhi;
}
.bg-yinbo {
	background-color: $yinbo;
}
.bg-yuejihong {
	background-color: $yuejihong;
}
.bg-yushilan {
	background-color: $yushilan;
}
.bg-zaohong {
	background-color: $zaohong;
}
.bg-zhangdan {
	background-color: $zhangdan;
}
.bg-zhenghui {
	background-color: $zhenghui;
}
.bg-zhihuang {
	background-color: $zhihuang;
}
.bg-zhijinhui {
	background-color: $zhijinhui;
}
.bg-zhizong {
	background-color: $zhizong;
}
.bg-zhongzonghui {
	background-color: $zhongzonghui;
}
.bg-zifen {
	background-color: $zifen;
}
.bg-zishuijing {
	background-color: $zishuijing;
}
.bg-zitenghui {
	background-color: $zitenghui;
}
.bg-ziweihua {
	background-color: $ziweihua;
}
.bg-zongcha {
	background-color: $zongcha;
}
