@import "./zhcolor_var";
.baicaoshuang {
	color: $baicaoshuang;
}
.baifanghuilan {
	color: $baifanghuilan;
}
.baolan {
	color: $baolan;
}
.beijingmaolan {
	color: $beijingmaolan;
}
.biyushi {
	color: $biyushi;
}
.canghuang {
	color: $canghuang;
}
.zanglan {
	color: $zanglan;
}
.canglyu {
	color: $canglyu;
}
.caohuang {
	color: $caohuang;
}
.chengdehui {
	color: $chengdehui;
}
.chengdezao {
	color: $chengdezao;
}
.chensha {
	color: $chensha;
}
.chunlan {
	color: $chunlan;
}
.chunlyu {
	color: $chunlyu;
}
.cuilyu {
	color: $cuilyu;
}
.cujingzao {
	color: $cujingzao;
}
.dachijin {
	color: $dachijin;
}
.dailan {
	color: $dailan;
}
.dandongshi {
	color: $dandongshi;
}
.danhuilyu {
	color: $danhuilyu;
}
.dengcaohui {
	color: $dengcaohui;
}
.dianlan {
	color: $dianlan;
}
.fanqiehong {
	color: $fanqiehong;
}
.feihong {
	color: $feihong;
}
.gancaohuang {
	color: $gancaohuang;
}
.ganlanlyu {
	color: $ganlanlyu;
}
.ganshifen {
	color: $ganshifen;
}
.gulan {
	color: $gulan;
}
.guohui {
	color: $guohui;
}
.hailan {
	color: $hailan;
}
.hongzao {
	color: $hongzao;
}
.huanghui {
	color: $huanghui;
}
.huaqing {
	color: $huaqing;
}
.hufen {
	color: $hufen;
}
.huilan {
	color: $huilan;
}
.huilyu {
	color: $huilyu;
}
.huimi {
	color: $huimi;
}
.jianghuang {
	color: $jianghuang;
}
.jiangxiaoni {
	color: $jiangxiaoni;
}
.jiangzi {
	color: $jiangzi;
}
.jiehong {
	color: $jiehong;
}
.jiehuang {
	color: $jiehuang;
}
.jinhuang {
	color: $jinhuang;
}
.junlyu {
	color: $junlyu;
}
.kongquelan {
	color: $kongquelan;
}
.kujin {
	color: $kujin;
}
.kulyu {
	color: $kulyu;
}
.labai {
	color: $labai;
}
.laolyu {
	color: $laolyu;
}
.liuhuahong {
	color: $liuhuahong;
}
.luhui {
	color: $luhui;
}
.meiguihong {
	color: $meiguihong;
}
.meiguihui {
	color: $meiguihui;
}
.mihong {
	color: $mihong;
}
.mihui {
	color: $mihui;
}
.mise {
	color: $mise;
}
.nailyu {
	color: $nailyu;
}
.naizong {
	color: $naizong;
}
.ningmenghuang {
	color: $ningmenghuang;
}
.pinhong {
	color: $pinhong;
}
.qianhaichanglan {
	color: $qianhaichanglan;
}
.qianhuangzong {
	color: $qianhuangzong;
}
.qianjiehuang {
	color: $qianjiehuang;
}
.qianniuzi {
	color: $qianniuzi;
}
.qianshiyingzi {
	color: $qianshiyingzi;
}
.qiantengzi {
	color: $qiantengzi;
}
.qiantuose {
	color: $qiantuose;
}
.qianxieya {
	color: $qianxieya;
}
.qianzonghui {
	color: $qianzonghui;
}
.kaqihuang {
	color: $kaqihuang;
}
.kaqilyu {
	color: $kaqilyu;
}
.qiepizi {
	color: $qiepizi;
}
.quehui {
	color: $quehui;
}
.ronglan {
	color: $ronglan;
}
.sanlyu {
	color: $sanlyu;
}
.shalyu {
	color: $shalyu;
}
.shaqing {
	color: $shaqing;
}
.shenyan {
	color: $shenyan;
}
.shenyanhong {
	color: $shenyanhong;
}
.shenzhuyue {
	color: $shenzhuyue;
}
.shiyangjin {
	color: $shiyangjin;
}
.shuidiaohui {
	color: $shuidiaohui;
}
.shuihuang {
	color: $shuihuang;
}
.tenghuang {
	color: $tenghuang;
}
.tianqing {
	color: $tianqing;
}
.tiehui {
	color: $tiehui;
}
.tuhuang {
	color: $tuhuang;
}
.xiangsihui {
	color: $xiangsihui;
}
.xiehong {
	color: $xiehong;
}
.xinghong {
	color: $xinghong;
}
.xionghuang {
	color: $xionghuang;
}
.xiongjing {
	color: $xiongjing;
}
.xiuhong {
	color: $xiuhong;
}
.xiulyu {
	color: $xiulyu;
}
.xuanjin {
	color: $xuanjin;
}
.xuese {
	color: $xuese;
}
.xuezi {
	color: $xuezi;
}
.yadanqing {
	color: $yadanqing;
}
.yangcongzi {
	color: $yangcongzi;
}
.yanghong {
	color: $yanghong;
}
.yanhong {
	color: $yanhong;
}
.yingwulyu {
	color: $yingwulyu;
}
.yinzhu {
	color: $yinzhu;
}
.youlyu {
	color: $youlyu;
}
.youyanmo {
	color: $youyanmo;
}
.yuanqing {
	color: $yuanqing;
}
.yanzhi {
	color: $yanzhi;
}
.yinbo {
	color: $yinbo;
}
.yuejihong {
	color: $yuejihong;
}
.yushilan {
	color: $yushilan;
}
.zaohong {
	color: $zaohong;
}
.zhangdan {
	color: $zhangdan;
}
.zhenghui {
	color: $zhenghui;
}
.zhihuang {
	color: $zhihuang;
}
.zhijinhui {
	color: $zhijinhui;
}
.zhizong {
	color: $zhizong;
}
.zhongzonghui {
	color: $zhongzonghui;
}
.zifen {
	color: $zifen;
}
.zishuijing {
	color: $zishuijing;
}
.zitenghui {
	color: $zitenghui;
}
.ziweihua {
	color: $ziweihua;
}
.zongcha {
	color: $zongcha;
}
.bg-baicaoshuang {
	background-color: $baicaoshuang;
}
.bg-baifanghuilan {
	background-color: $baifanghuilan;
}
.bg-baolan {
	background-color: $baolan;
}
.bg-beijingmaolan {
	background-color: $beijingmaolan;
}
.bg-biyushi {
	background-color: $biyushi;
}
.bg-canghuang {
	background-color: $canghuang;
}
.bg-zanglan {
	background-color: $zanglan;
}
.bg-canglyu {
	background-color: $canglyu;
}
.bg-caohuang {
	background-color: $caohuang;
}
.bg-chengdehui {
	background-color: $chengdehui;
}
.bg-chengdezao {
	background-color: $chengdezao;
}
.bg-chensha {
	background-color: $chensha;
}
.bg-chunlan {
	background-color: $chunlan;
}
.bg-chunlyu {
	background-color: $chunlyu;
}
.bg-cuilyu {
	background-color: $cuilyu;
}
.bg-cujingzao {
	background-color: $cujingzao;
}
.bg-dachijin {
	background-color: $dachijin;
}
.bg-dailan {
	background-color: $dailan;
}
.bg-dandongshi {
	background-color: $dandongshi;
}
.bg-danhuilyu {
	background-color: $danhuilyu;
}
.bg-dengcaohui {
	background-color: $dengcaohui;
}
.bg-dianlan {
	background-color: $dianlan;
}
.bg-fanqiehong {
	background-color: $fanqiehong;
}
.bg-feihong {
	background-color: $feihong;
}
.bg-gancaohuang {
	background-color: $gancaohuang;
}
.bg-ganlanlyu {
	background-color: $ganlanlyu;
}
.bg-ganshifen {
	background-color: $ganshifen;
}
.bg-gulan {
	background-color: $gulan;
}
.bg-guohui {
	background-color: $guohui;
}
.bg-hailan {
	background-color: $hailan;
}
.bg-hongzao {
	background-color: $hongzao;
}
.bg-huanghui {
	background-color: $huanghui;
}
.bg-huaqing {
	background-color: $huaqing;
}
.bg-hufen {
	background-color: $hufen;
}
.bg-huilan {
	background-color: $huilan;
}
.bg-huilyu {
	background-color: $huilyu;
}
.bg-huimi {
	background-color: $huimi;
}
.bg-jianghuang {
	background-color: $jianghuang;
}
.bg-jiangxiaoni {
	background-color: $jiangxiaoni;
}
.bg-jiangzi {
	background-color: $jiangzi;
}
.bg-jiehong {
	background-color: $jiehong;
}
.bg-jiehuang {
	background-color: $jiehuang;
}
.bg-jinhuang {
	background-color: $jinhuang;
}
.bg-junlyu {
	background-color: $junlyu;
}
.bg-kongquelan {
	background-color: $kongquelan;
}
.bg-kujin {
	background-color: $kujin;
}
.bg-kulyu {
	background-color: $kulyu;
}
.bg-labai {
	background-color: $labai;
}
.bg-laolyu {
	background-color: $laolyu;
}
.bg-liuhuahong {
	background-color: $liuhuahong;
}
.bg-luhui {
	background-color: $luhui;
}
.bg-meiguihong {
	background-color: $meiguihong;
}
.bg-meiguihui {
	background-color: $meiguihui;
}
.bg-mihong {
	background-color: $mihong;
}
.bg-mihui {
	background-color: $mihui;
}
.bg-mise {
	background-color: $mise;
}
.bg-nailyu {
	background-color: $nailyu;
}
.bg-naizong {
	background-color: $naizong;
}
.bg-ningmenghuang {
	background-color: $ningmenghuang;
}
.bg-pinhong {
	background-color: $pinhong;
}
.bg-qianhaichanglan {
	background-color: $qianhaichanglan;
}
.bg-qianhuangzong {
	background-color: $qianhuangzong;
}
.bg-qianjiehuang {
	background-color: $qianjiehuang;
}
.bg-qianniuzi {
	background-color: $qianniuzi;
}
.bg-qianshiyingzi {
	background-color: $qianshiyingzi;
}
.bg-qiantengzi {
	background-color: $qiantengzi;
}
.bg-qiantuose {
	background-color: $qiantuose;
}
.bg-qianxieya {
	background-color: $qianxieya;
}
.bg-qianzonghui {
	background-color: $qianzonghui;
}
.bg-kaqihuang {
	background-color: $kaqihuang;
}
.bg-kaqilyu {
	background-color: $kaqilyu;
}
.bg-qiepizi {
	background-color: $qiepizi;
}
.bg-quehui {
	background-color: $quehui;
}
.bg-ronglan {
	background-color: $ronglan;
}
.bg-sanlyu {
	background-color: $sanlyu;
}
.bg-shalyu {
	background-color: $shalyu;
}
.bg-shaqing {
	background-color: $shaqing;
}
.bg-shenyan {
	background-color: $shenyan;
}
.bg-shenyanhong {
	background-color: $shenyanhong;
}
.bg-shenzhuyue {
	background-color: $shenzhuyue;
}
.bg-shiyangjin {
	background-color: $shiyangjin;
}
.bg-shuidiaohui {
	background-color: $shuidiaohui;
}
.bg-shuihuang {
	background-color: $shuihuang;
}
.bg-tenghuang {
	background-color: $tenghuang;
}
.bg-tianqing {
	background-color: $tianqing;
}
.bg-tiehui {
	background-color: $tiehui;
}
.bg-tuhuang {
	background-color: $tuhuang;
}
.bg-xiangsihui {
	background-color: $xiangsihui;
}
.bg-xiehong {
	background-color: $xiehong;
}
.bg-xinghong {
	background-color: $xinghong;
}
.bg-xionghuang {
	background-color: $xionghuang;
}
.bg-xiongjing {
	background-color: $xiongjing;
}
.bg-xiuhong {
	background-color: $xiuhong;
}
.bg-xiulyu {
	background-color: $xiulyu;
}
.bg-xuanjin {
	background-color: $xuanjin;
}
.bg-xuese {
	background-color: $xuese;
}
.bg-xuezi {
	background-color: $xuezi;
}
.bg-yadanqing {
	background-color: $yadanqing;
}
.bg-yangcongzi {
	background-color: $yangcongzi;
}
.bg-yanghong {
	background-color: $yanghong;
}
.bg-yanhong {
	background-color: $yanhong;
}
.bg-yingwulyu {
	background-color: $yingwulyu;
}
.bg-yinzhu {
	background-color: $yinzhu;
}
.bg-youlyu {
	background-color: $youlyu;
}
.bg-youyanmo {
	background-color: $youyanmo;
}
.bg-yuanqing {
	background-color: $yuanqing;
}
.bg-yanzhi {
	background-color: $yanzhi;
}
.bg-yinbo {
	background-color: $yinbo;
}
.bg-yuejihong {
	background-color: $yuejihong;
}
.bg-yushilan {
	background-color: $yushilan;
}
.bg-zaohong {
	background-color: $zaohong;
}
.bg-zhangdan {
	background-color: $zhangdan;
}
.bg-zhenghui {
	background-color: $zhenghui;
}
.bg-zhihuang {
	background-color: $zhihuang;
}
.bg-zhijinhui {
	background-color: $zhijinhui;
}
.bg-zhizong {
	background-color: $zhizong;
}
.bg-zhongzonghui {
	background-color: $zhongzonghui;
}
.bg-zifen {
	background-color: $zifen;
}
.bg-zishuijing {
	background-color: $zishuijing;
}
.bg-zitenghui {
	background-color: $zitenghui;
}
.bg-ziweihua {
	background-color: $ziweihua;
}
.bg-zongcha {
	background-color: $zongcha;
}
