$weilan:#70f3ff;//蔚蓝
$lan:#44cef6;//蓝
$bilan:#3eede7;//碧蓝
$shiqing:#1685a9;//石青
$dianqing:#177cb0;//靛青
$dianlan:#065279;//靛蓝
$huaqing:#003472;//花青
$baolan:#4b5cc4;//宝蓝
$lanhui:#a1afc9;//蓝灰
$zangqing:#2e4e7e;//藏青
$zanglan:#3b2e7e;//藏蓝
$dai:#4a4266;//黛
$dailv:#426666;//黛绿
$dailan:#425066;//黛蓝
$daizi:#574266;//黛紫
$zi:#8d4bbb;//紫
$zijiang:#815463;//紫酱
$jiangzi:#815476;//酱紫
$zitan:#4c221b;//紫檀
$ganqing:#003371;//绀青
$zitang:#56004f;//紫棠
$qinglian:#801dae;//青莲
$qunqing:#4c8dae;//群青
$xueqing:#b0a4e3;//雪青
$dingxiang:#cca4e3;//丁香
$ou:#edd1d8;//藕
$ouhe:#e4c6d0;//藕荷
$zhusha:#ff461f;//朱砂
$huohong:#ff2d51;//火红
$zhubiao:#f36838;//朱膘
$fei:#ed5736;//妃
$yanghong:#ff4777;//洋红
$pinhong:#f00056;//品红
$fenhong:#ffb3a7;//粉红
$taohong:#f47983;//桃红
$haitanghong:#db5a6b;//海棠红
$yingtao:#c93756;//樱桃
$tuoyan:#f9906f;//酡颜
$yinhong:#f05654;//银红
$dahong:#ff2121;//大红
$shiliuhong:#f20c00;//石榴红
$jiangzi:#8c4356;//绛紫
$feihong:#c83c23;//绯红
$yanzhi:#9d2933;//胭脂
$zhuhong:#ff4c00;//朱红
$dan:#ff4e20;//丹
$tong:#f35336;//彤
$tuohong:#dc3023;//酡红
$yan:#ff3300;//炎
$qian:#cb3a56;//茜
$wan:#a98175;//绾
$tan:#b36d61;//檀
$yanhong:#ef7a82;//嫣红
$yanghong:#ff0097;//洋红
$zaohong:#c32136;//枣红
$yanhong:#be002f;//殷红
$hechi:#c91f37;//赫赤
$yinzhu:#bf242a;//银朱
$chi:#c3272b;//赤
$yanzhi:#9d2933;//胭脂
$li:#60281e;//栗
$xuan:#622a1d;//玄
$songhua:#bce672;//松花
$liuhuang:#c9dd22;//柳黄
$nenlv:#bddd22;//嫩绿
$liulv:#afdd22;//柳绿
$conghuang:#a3d900;//葱黄
$conglv:#9ed900;//葱绿
$doulv:#9ed048;//豆绿
$douqing:#96ce54;//豆青
$youlv:#00bc12;//油绿
$congqian:#0eb83a;//葱倩
$congqing:#0eb83a;//葱青
$qingcong:#0aa344;//青葱
$shilv:#16a951;//石绿
$songbailv:#21a675;//松柏绿
$songhualv:#057748;//松花绿
$lvshen:#0c8918;//绿沈
$lv:#00e500;//绿
$caolv:#40de5a;//草绿
$qingcui:#00e079;//青翠
$qing:#00e09e;//青
$feicui:#3de1ad;//翡翠
$bilv:#2add9c;//碧绿
$yu:#2edfa3;//玉
$piao:#7fecad;//缥
$ailv:#a4e2c6;//艾绿
$shiqing:#7bcfa6;//石青
$bi:#1bd1a5;//碧
$qingbi:#48c0a3;//青碧
$tonglv:#549688;//铜绿
$zhuqing:#789262;//竹青
$mohui:#758a99;//墨灰
$mo:#50616d;//墨
$yaqing:#424c50;//鸦青
$an:#41555d;//黯
$yingcao:#eaff56;//樱草
$ehuang:#fff143;//鹅黄
$yahuang:#faff72;//鸭黄
$xinghuang:#ffa631;//杏黄
$chenghuang:#ffa400;//橙黄
$cheng:#fa8c35;//橙
$xinghong:#ff8c31;//杏红
$juhuang:#ff8936;//橘黄
$juhong:#ff7500;//橘红
$tenghuang:#ffb61e;//藤黄
$jianghuang:#ffc773;//姜黄
$cihuang:#ffc64b;//雌黄
$chijin:#f2be45;//赤金
$xiang:#f0c239;//缃
$xionghuang:#e9bb1d;//雄黄
$qiuxiang:#d9b611;//秋香
$jin:#eacd76;//金
$ya:#eedeb0;//牙
$kuhuang:#d3b17d;//枯黄
$huanglu:#e29c45;//黄栌
$wujin:#a78e44;//乌金
$hunhuang:#c89b40;//昏黄
$zonghuang:#ae7000;//棕黄
$hupo:#ca6924;//琥珀
$zong:#b25d25;//棕
$cha:#b35c44;//茶
$zonghong:#9b4400;//棕红
$zhe:#9c5333;//赭
$tuo:#a88462;//驼
$qiu:#896c39;//秋
$zonglv:#827100;//棕绿
$he:#6e511e;//褐
$zonghei:#7c4b00;//棕黑
$zhe:#955539;//赭
$zheshi:#845a33;//赭石
$jingbai:#ffffff;//精白
$yinbai:#e9e7ef;//银白
$qianbai:#f0f0f4;//铅白
$shuang:#e9f1f6;//霜
$xuebai:#f0fcff;//雪白
$yingbai:#e3f9fd;//莹白
$yuebai:#d6ecf0;//月白
$xiangyabai:#fffbf0;//象牙白
$gao:#f2ecde;//缟
$yudubai:#fcefe8;//鱼肚白
$baifen:#fff2df;//白粉
$tubai:#f3f9f1;//荼白
$yaluanqing:#e0eee8;//鸭卵青
$su:#e0f0e9;//素
$qingbai:#c0ebd7;//青白
$xiekeqing:#bbcdc5;//蟹壳青
$huabai:#c2ccd0;//花白
$laoyin:#bacac6;//老银
$hui:#808080;//灰
$cang:#75878a;//苍
$shui:#88ada6;//水
$you:#6b6882;//黝
$wu:#725e82;//乌
$xuanqing:#3d3b4f;//玄青
$wuhei:#392f41;//乌黑
$li:#75664d;//黎
$li:#5d513c;//黧
$youhei:#665757;//黝黑
$zi:#493131;//缁
$meihei:#312520;//煤黑
$qihei:#161823;//漆黑
$hei:#000000;//黑
